.cart aside {
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart .backdrop {
  opacity: 0 !important;
  visibility: hidden;
}

.cart.active aside {
  transform: translateX(0);
}

.cart.active .backdrop {
  opacity: 50% !important;
  visibility: visible;
}

@media screen and (max-width: 570px) {
  .cart aside {
    width: 100% !important;
  }
}
